.modal {
  height: 75%;
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #B5B5B5;
  border-radius: 10px;
  box-shadow: 2px 2px 45px 15px #A8A8A8;
  padding: 65px 75px;
  left: 15%;
  top: 10%;
  box-sizing: border-box;
  transition: all 3ms ease-out;
  overflow: scroll;
}

.modalContent {
  padding: 15px 10px;
  overflow: scroll;
}

.GrClose {
  justify-content: space-around;
  cursor: pointer;
  padding: 20px;
  margin: 15px 10px;
  float: right;
  position: fixed;
  z-index: 500;
  left: 77.5%;
  top: 10%;
}

.closeModalButton {
  justify-content: space-around;
  padding: 7px;
  margin: 0px 10px;
  border: 2px solid gray;
  cursor: pointer;
  float: right;
}