.modalWrapper {
  /* background: #fff;
  margin: 50px auto;
  height: 90%;
  max-height: 550px;
  width: 90%;
  justify-content: center;
  box-sizing: border-box;
  overflow: scroll;
  padding-left: 35px; */
  height: 85%;
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 10%;
  box-sizing: border-box;
  transition: all .3 ease-out;
  overflow: scroll;
}

.modalContent {
  padding: 15px 10px;
  overflow: scroll;
}

.timesCircleClose {
  justify-content: space-around;
  cursor: pointer;
  padding: 3px;
  margin: 15px 10px;
  float: right;
  position: fixed;
  position: fixed;
  z-index: 500;
  left: 85%;
  top: 7%;
}

.closeModalButton {
  justify-content: space-around;
  padding: 7px;
  margin: 0px 10px;
  border: 2px solid gray;
  cursor: pointer;
  float: right;
}