.reviewTiles {
  padding: 35px;
  margin: 20px 5px;
  font-size: 12px;
  display: grid;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  grid-gap: 20px;
  justify-items: left;
  align-items: center;
  box-shadow: 2px 2px 8px 1px #C7C7C7;
  border-radius: 7px;
}

.reviewTiles:hover,
.reviewTiles:focus {
  transform: scale(1.02, 1.05);
}

.tileSummary {
  font-weight: 900;
  font-size: 18px;
}

.tileBody {
  font-size: 14px;
}

.tileHeader {
  justify-content: space-between;
}

.nameAndDate {
  /* float: right; */
}

