.reviewsList {
  color: #6E6E6E;
  display: grid;
  grid-template-columns: 30% auto;
  box-sizing: border-box;
  grid-gap: 20px;
  justify-items: space-between;
  align-items: stretch;
  padding: 35px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.ratingsOverview {
  padding-top: 15px;
  margin: 20px 5px;
  font-size: 14px;
  display: grid;
  box-sizing: border-box;
  grid-gap: 7px;
  justify-items: center;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  min-width: 260px;
  border: 1px solid #E6E6E6;
  box-shadow: 2px 2px 8px 1px #C7C7C7;
  border-radius: 7px;
  height: 420px;
  /* min-height: 50%; */
}

.ratingsAndReviewsTitle {
  color: #808080;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.overallRating {
  font-size: 35px;
  font-weight: 700;
  color: #63DCE6;
}

.recommendOverview {
  font-size: 12px;
  color: #75C0DC;
  font-weight: 900;
  text-align: center;
  margin: 10px auto;
}

.reviewTotal {
  color: #75C0DC;
  font-weight: 800;
  font-size: 14px;
}
