.reviewsList {
  color: #6E6E6E;
  display: grid;
  grid-template-columns: 30% auto;
  box-sizing: border-box;
  grid-gap: 20px;
  justify-items: space-between;
  align-items: stretch;
  padding: 35px;
  padding-top: 2px;
  margin-top: 2px;
  margin-bottom: 100px;
}

.ratingsOverview {
  padding-top: 15px;
  margin: 20px 5px;
  font-size: 14px;
  display: grid;
  box-sizing: border-box;
  grid-gap: 7px;
  justify-items: center;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  min-width: 260px;
  border: 1px solid #E6E6E6;
  box-shadow: 2px 2px 8px 1px #C7C7C7;
  border-radius: 7px;
}

.ratingsAndReviewsTitle {
  color: #808080;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.overallRating {
  font-size: 35px;
  font-weight: 700;
  color: #63DCE6;
}

.recommendOverview {
  font-size: 12px;
  color: #75C0DC;
  font-weight: 900;
  text-align: center;
  margin: 20px auto 15px auto;
}

.recommendedPercent {
  font-size: 30px;
}

.reviewTotal {
  color: #75C0DC;
  font-weight: 800;
  font-size: 14px;
  margin: 8px auto;
}

.sort {
  margin-top: 50px;
  padding: 35px;
  padding-bottom: 2px;
  display: grid;
  grid-template-columns: 32.5% auto;
}

.newestButton,
.relevantButton,
.helpfulButton {
  padding: 15px 30px;
  margin: 1px 0px;
  justify-content: center;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 1px;
  cursor: pointer;
  color: #9C9C9C;
  background-size: 200%;
  transition: 0.25s;
  box-shadow: 1px 1px 3px 1px #BFBFBF;
  outline: none;
  width: 32.5%;
  background: white;
  border: none;
}

.newestButton:hover,
.newestButton:focus,
.newestButton:active,
.relevantButton:hover,
.relevantButton:focus,
.relevantButton:active,
.helpfulButton:hover,
.helpfulButton:focus,
.helpfulButton:active {
  background-position: right;
  outline: none;
  transform: scale(1.02, 1.05);
}
