.relatedProductsList {
  box-sizing: border-box;
  border: 1px dashed rgba(0, 0, 0, .1);
  display: flex;
  overflow-x: hidden;
  position: relative;
  padding-left: 50px;
}

.carousel {
  display: flex;
  position: relative;
}

.leftArrowSpacer {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 0, 0, 0.1);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.leftArrowSpacer:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

.rightArrowSpacer {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0));
  /* border: 1px solid rgba(255, 0, 0, 0.1); */
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}

.rightArrowSpacer:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

.scrollButton {
  background: none;
  border: none;
  z-index: 2;
}

.scrollButton:hover {
  /* color: white; */
}

.scrollButton:focus {
  outline: none;
}