.relatedProductsList {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  position: relative;
  /* padding-left: 50px; */
}

.actionButton {
  background: rgba(255, 255, 255, .4);
  border: none;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}
.actionButton:hover {
  background: rgba(255, 255, 255, .8);
}
.actionButton:focus {
  outline: none;
}

.carousel {
  display: flex;
  position: relative;
  /* transition: right 200ms; */
  overflow: hidden;
}

.spacer {
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 0;
  width: 30px;
  z-index: 1;
}

.leftArrowSpacer {
  composes: spacer;
  left: 0;
  justify-content: flex-end;
  align-items: center;
}

.rightArrowSpacer {
  composes: spacer;
  justify-content: flex-end;
  align-items: center;
  right: 0;
}

.scrollButton {
  align-self: center;
  background: white;
  border: none;
  height: 70px;
  padding: 0;
  position: absolute;
  width: 35px;
  z-index: 1;
}

.scrollButton:hover {
  font-size: 20px;
}

.scrollButton:focus {
  outline: none;
}

.scrollButtonRight {
  composes: scrollButton;
  right: 0;
}
