.relatedProductsList {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  position: relative;
}

.actionButton {
  background: rgba(255, 255, 255, .4);
  border: none;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}
.actionButton:hover {
  background: rgba(255, 255, 255, .8);
}
.actionButton:focus {
  outline: none;
}

.carousel {
  display: flex;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.comparisonModal {
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  height: 300px;
  width: 400px;
}

.scrollButton {
  align-self: center;
  background: white;
  border: 1px solid black;
  height: 70px;
  padding: 0;
  position: absolute;
  width: 35px;
  z-index: 1;
}

.scrollButton:hover {
  font-size: 20px;
  color: white;
  background-color: black;
}

.scrollButton:focus {
  outline: none;
}

.scrollButtonRight {
  composes: scrollButton;
  right: 0;
}
