.styleSelector {
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  width: 425px;
  height: 100px;
}

.nameContainer {
  padding-left: 5px;
  color: rgb(90, 90, 90);
  font-size: 15px;
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 300px;
  justify-items: center;
  padding-top: 10px;
}

.imageWrapper {
  align-self: center;
}
.style {
  font-weight: 600;
}

.thumbnail {
  border: 1px solid black;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
  cursor: pointer;
}