.styleSelector {
  grid-area: c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
  position: relative;
}

.nameContainer {
  color: rgb(0, 0, 0);
  font-size: 14px;
  position: absolute;
  font-weight: 700;
  top: 0;
  right: 0;
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  /* width: 300px; */
  justify-items: center;
  grid-gap: 8px;
  position: relative;
  /*padding-top: 10px; */
}

/* .imageContainer {
  display: inline-flex;
  flex-direction: row;
  /* justify-items: center;
  height: 100%;
  transition: transform 0.4s ease;
} */

.imageWrapper {
  align-self: center;
  position: relative;
}
.style {
  font-weight: 600;
}

.thumbnail {
  border: 1px solid gray;
  /* border-radius: 50%; */
  height: 60px;
  width: 60px;
  object-fit: cover;
  cursor: pointer;

}

.checkmark {
  box-sizing: border-box;
  /* border: 1px solid black; */
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -5px;
  color: black;
}
