.styleSelector {
  grid-area: c;
  border: 1px solid black;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}

.item {
  border: 1px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}