.qatitle {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  box-sizing: border-box;
  line-height: 1em;
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
  color: #040c13;
  text-align: left;
  background-color: white;

}

