.answer {
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 1px;
  margin: 1px 2px;
  font-size: 14px;
  box-sizing: border-box;
  justify-items: left;
  border-radius: 2px;
  font-weight: 500;
  overflow-wrap: break-world;
}
.answer:hover,
.answer:focus {
  transform: scale(1.02, 1.05);
}

.answer:hover:nth-child(odd) {
  background-color: rgba(215, 215, 214, 0.249);
  border-radius: 4px;
}
.answer:hover:nth-child(even) {
  background-color: rgba(215, 215, 214, 0.249);
  border-radius: 4px;
}

.footer {
  display: flex;
  margin: 1px;
  font-size: 15px;

}

.answer p {
  color: black;
  font-size: 14px;
  font-weight: 500px;
}

.answer p {

  font-size: 15px;
  padding-top: 10px;
  margin-left: 4px;

}

.footer small {
  font-size: 15px;
}

