/* .qa {
  border: 1px dotted red;
  margin: 15px 7px;
  padding: 7px;
}

.searchContainer {
  margin: 15px;


}

.answerhelpfulcontainer {
  display: flex;
  justify-content: space-around;
}
.byuser {
  margin: 15px 7px;
}

.buttonContainer {
  display: flex;
}

.moreAnsweredQuestionsButton {
  justify-content: space-around;
  padding: 15px;
  margin: 0 7px;
  border: 2px solid blue;
}
.addAQuestionButton {
  justify-content: space-around;
  padding: 7px;
  margin: 0 7px;

}
.addAQuestionButton button {
  padding: 17px;
  background-color: white;
}

.questionList {
  display: flex;
  justify-content: space-between;
}

.answerList {


}

.answerhelpful {
  margin: 17px 7px;
}

.report {
  margin: 17px 7px;
}
.loadmoreanswers {
  margin-left: 10px;
  font-size: 14px;
  padding: 7px;
  border: none;
} */

.questionContainer {
  display: flex;
  justify-content: space-between;

}

.helpfulContainer {
  display: flex;
  justify-content: space-between;

}

.answerContainer {
  display: flex;
  flex-direction: column;
}

.byUserContainer {
  display: flex;
  justify-content: space-around;
}

.buttonContainer {
  display:  flex;
  margin-top: 25px;
  justify-content: space-around;
}