.qa {
  border: 1px dotted red;
  margin: 15px 7px;
  padding: 7px;
}

.searchBar {
  border: 1px solid black;
  margin: 25px 0px;
  padding: 3px;

}



.buttonContainer {
  display: flex;
}

.moreAnsweredQuestionsButton {
  justify-content: space-around;
  padding: 15px;
  margin: 0 7px;
  border: 2px solid blue;
}
.addAQuestionButton {
  justify-content: space-around;
  padding: 15px;
  margin: 0 7px;
  border: 2px solid aqua
}

.questionList {
  display: flex;
  justify-content: space-between;
}

.answerList {


}

.answerhelpful {
  margin: 17px 7px;
}

.report {
  margin: 17px 7px;
}
.loadmoreanswers {
  margin-left: 10px;
  font-size: 14px;
  padding: 7px;
  border: none;
}