.comparisonButton {
  background: rgba(255, 255, 255, .4);
  border: none;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}
.comparisonButton:hover {
  background: rgba(255, 255, 255, .8);
}
.comparisonButton:focus {
  outline: none;
}