.searchBar {
  width: 90%;
  height: 35px;
  margin: 15px 15px 15px 0px;
  font-weight: bold;
  display: flex;

}

.input {
    width: 95%;
    height: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px ;
    line-height: 20px ;
    font-weight: 700 ;
    background: none ;
    border: 2px solid rgba(0, 0, 0, 0.625) ;
    color: rgb(0, 0, 0) ;
    margin: 5px ;
    padding: 5px ;
    width: 100% ;
    text-overflow: ellipsis ;
    border-radius: 7px;
}
.input:hover {
  background-color: rgba(0, 0, 0, 0.084);

}
.icon {
  margin: 13px;
}