.addToCart {
  grid-area: d;
  /* border: 1px solid black; */

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 425px;
  /* height: 30px; */
  padding-left: 10px;
  text-align: center;
}

.cartWrapper {
  display: grid;
  grid-template-areas:"o p"
                      "q r";
  /* justify-items: center; */
}

.size {
  grid-area: o;
  box-sizing: border-box;
  cursor: cursor;
  height: 40px;
  width: 200px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700px;
  letter-spacing: 2px;
  justify-self: space-around;
}

.sizeBox {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  border: 1px solid#ebedee;
  border-left: 1px solid #ebedee;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.sizeBtn {
  background-color: white;
  border: 1px solid#ebedee;
  border-left: none;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  font-size: 13px;
  margin-bottom: -1px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.2px;
  /* font-weight: 700; */
}

.sizeBtn:hover {
  background: black;
  color: white;
}

.quantity {
  grid-area: p;
  box-sizing: border-box;
  cursor: cursor;
  height: 40px;
  width: 100px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700px;
  letter-spacing: 2px;
}

.submitCart {
  grid-area: q;
  box-sizing: border-box;
  cursor: cursor;
  height: 40px;
  width: 200px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700px;
  letter-spacing: 2px;
}

.addedToBag{
  background-color:white;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
}

.star {
  grid-area: r;
  box-sizing: border-box;
  border: 1px solid black;
  cursor: cursor;
  height: 40px;
  width: 50px;
}

.star:hover {
  color: black;
}