.overview {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "a b"
                       "a d"
                       "a e"
                       "c e";
}
