.questionModalForm {
  height: 90%;
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 1%;
  box-sizing: border-box;
  transition: all .3 ease-out;

  border-radius: 5px;
}




.modalform {
  display: flex;
  flex-direction: column;
  padding: 25px;

}

.questionfield {
  padding: 25px;

}

.emailfield {
  padding: 25px;

}

.errors{
  color: red;
}