.imageGallery {
  grid-area: a;
  /* border: 1px solid black; */
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftarrow {
  position: absolute;
  top: 50%;
}

.rightarrouw {
  position: absolute;
  top: 50%;
}


.styleImage {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
