.reviewsAddForm {
  padding: 10px;
  margin: 10px 5px;
  overflow: scroll;
}

.addButton, .cancelButton {
  padding: 20px;
  margin: 25px 10px;
  margin-right: 20px;
  justify-content: center;
  background-color: white;
  color: #7A7A7A;
  border: 2px solid #C9C9C9;
  cursor: pointer;
  box-shadow: 2px 2px 8px 1px #C7C7C7;
  text-transform: uppercase;
}

.xButton {
  cursor: pointer;
  justify-items: right;
  float: right;
}

.xButton {
  margin-right: 5px;
  padding-right: 5px;
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.addButton:hover,
.cancelButton:hover,
.addButton:focus,
.cancelButton:focus {
  font-weight: 900;
  transform: scale(1.02, 1.05);
}

input {
  padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.emailInput {
  width: 250px;
	height: 20px;
	border: 3px solid #cccccc;
}

.usernameInput {
  width: 250px;
	height: 20px;
	border: 3px solid #cccccc;
}

textarea {
  width: 350px;
	height: 100px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.summaryText {
  height: 50px;
}

.fileInput {
  margin: 10px 0px 30px 10px;
}