.reviewsAddForm {
  padding: 10px;
  margin: 10px 5px;
  overflow: scroll;
}

.addButton {
  justify-content: space-around;
  padding: 20px;
  margin: 50px 10px;
  border: 2px solid gray;
  background: white;
  cursor: pointer;
}

.closeModalButton, .xButton {
  cursor: pointer;
  justify-items: right;
  float: right;
}

.xButton {
  margin-right: 5px;
  padding-right: 5px;
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
  padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.emailInput {
  width: 250px;
	height: 20px;
	border: 3px solid #cccccc;
}

.usernameInput {
  width: 250px;
	height: 20px;
	border: 3px solid #cccccc;
}

textarea {
  width: 350px;
	height: 100px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.summaryText {
  height: 50px;
}

.fileInput {
  margin: 10px 0px 30px 10px;
}