.reviewsAddForm {
  padding: 10px;
  margin: 10px 5px;
  overflow: scroll;
}

.addButton, .cancelButton {
  padding: 20px;
  margin: 25px 10px;
  margin-right: 20px;
  justify-content: center;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to right, #1CD8D2 0%, #93EDC7  51%, #1CD8D2  100%);
  background-size: 200%;
  transition: 0.5s;
  box-shadow: 2px 2px 7px 2px #BFBFBF;
  outline: none;
}

.xButton {
  cursor: pointer;
  justify-items: right;
  float: right;
}

.xButton {
  margin-right: 5px;
  padding-right: 5px;
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.addButton:hover,
.cancelButton:hover,
.addButton:focus,
.cancelButton:focus {
  background-position: right;
  outline: none;
  border: none;
}

input {
  padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.emailInput {
  width: 250px;
	height: 20px;
	border: 3px solid #cccccc;
}

.usernameInput {
  width: 250px;
	height: 20px;
	border: 3px solid #cccccc;
}

textarea {
  width: 350px;
	height: 100px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.summaryText {
  height: 50px;
}

.descriptionText {
  margin-bottom: 50px;
}

.fileInput {
  margin: 10px 0px 30px 10px;
}
