.productInfo {

}

.ratings {
  display: flex;
  position: relative;
  border: 1px black;
}

.category {
  font-size:42px;
}

.name {
  font-size: 14px;
}

.price {
  font-size: 18px;
  font-weight: 700;
}